html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
html{
  max-height: 100vh!important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

body{
  font-family: "jost", "Zen Kaku Gothic New", sans-serif !important;
  color:#343434;
  width:400px;
  max-width: 100%;
  margin:auto;
  background-color: #9dc5e6;
  background-image: 
    radial-gradient(circle at 1px 1px, #7396dd 1px, transparent 0), 
    radial-gradient(circle at 1px 1px, #7396dd 1px, transparent 0);
  background-size: 10px 10px; /* ドットのサイズと間隔 */
  background-position: 0 0, 5px 5px; /* ドットの位置をずらして交互のパターンを作る */
  max-height: 100vh!important;
}

header{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
  font-weight: 900;
  background-color:  rgba(157, 197, 230, 0.5);
  padding: 10px;
  margin:auto;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:50px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(223, 189, 40);
  padding: 10px;
  -webkit-text-stroke:0.9px #000;
}

main {
  content: "";
  display: table;
  clear: both;
  padding-bottom:80px;
  padding-top:70px;
}


.container-right{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.container-left{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.msg {
  max-width: 50%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  margin: 10px;
}

.msg-left {
  border: 2px solid #000;
  background-color: #ffffff;
  border-top-left-radius: 0;
  color:#000;

}

.msg-right {
  border: 2px solid #000;
  background-color: rgb(223, 189, 40);
  color: #000;
  border-top-right-radius: 0;

}

.date-left {
  font-size: 10px;
  color: #000;
  font-weight: 600;

}

.date-right {
  font-size: 10px;
  color: #000;
  font-weight: 600;
}


footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin:auto;
  height: 70px;
  
}

.input_area {
  text-align: center;
  font-size: 14px;
  width:85%;
  display:flex;
  align-items: center;
  margin:auto;
  height: 70px;
  max-width: 400px;
}

/* テキストエリアのスタイル */
textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  border:solid 2px #343434;
  height: 30px;
  border-radius: 20px;
  width: 100%;
  padding-top:7px!important;
  padding: 0 14px;
  font-family: "jost", "Zen Kaku Gothic New", sans-serif !important;
  margin:auto;
  resize: none;
} 

/* 送信ボタンのスタイル */
.button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left:10px;
}

.button i {
  margin-right: 5px;
}

.button i::before {
	font-family: "Font Awesome 5 Free";
	content: "\f1d8";
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #dfbd28;
  background-image: 
    radial-gradient(circle at 1px 1px, #dc7d00e9 1px, transparent 0), 
    radial-gradient(circle at 1px 1px, #dc7d00e9 1px, transparent 0);
  background-size: 10px 10px; /* ドットのサイズと間隔 */
  background-position: 0 0, 5px 5px; /* ドットの位置をずらして交互のパターンを作る */
	color:#000;
	font-weight: 700;
  font-size: 18px; /* アイコンのサイズ */
  padding-right:2px;
  border: #000 solid 2px;
}

/* ボタンがクリックされたときの動作 */
.button:active {
  transform: translateY(2px);
}
